   /* Estilos básicos de la página */
   html {
    background: #018DED url(https://unsplash.it/1500/1000?image=881&blur=5); /* Fondo de pantalla con imagen borrosa */
    background-size: cover;
    font-family: 'helvetica neue'; /* Fuente utilizada */
    text-align: center; /* Centrar el contenido */
    font-size: 10px; /* Tamaño de fuente base */
  }

  body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center; /* Centrar verticalmente el reloj */
  }

  /* Estilos del reloj */
  .clock {
    width: 30rem; /* Tamaño del reloj */
    height: 30rem;
    border: 20px solid white; /* Borde blanco grueso */
    border-radius: 50%; /* Hacer que el contenedor sea circular */
    margin: 50px auto; /* Centrando horizontalmente con margen */
    position: relative; /* Para posicionar las manecillas de manera absoluta */
    padding: 2rem;
    /* Sombras para darle un efecto 3D al reloj */
    box-shadow:
      0 0 0 4px rgba(0,0,0,0.1),
      inset 0 0 0 3px #EFEFEF,
      inset 0 0 10px black,
      0 0 10px rgba(0,0,0,0.2);
  }

  /* Cara del reloj */
  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* Ajustar la posición para centrar las manecillas */
  }

  /* Estilo de las manecillas del reloj */
  .hand {
    width: 50%; /* Las manecillas cubren la mitad del reloj */
    height: 6px; /* Grosor de las manecillas */
    background: black; /* Color de las manecillas */
    position: absolute;
    top: 50%; /* Centrar verticalmente las manecillas */
    transform-origin: 100%; /* El punto de rotación está en un extremo */
    transform: rotate(90deg); /* Posicionarlas inicialmente en las 12 en punto */
    transition: all 0.05s; /* Transición suave de las manecillas */
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1); /* Movimiento más realista */
  }